%h1 New Photo
= form_for @photo, html: { multipart: true } do |f|
  = f.label :camera
  .list= f.text_area :camera
  = f.label :film
  .list= f.text_area :film
  = f.label :file
  .list= f.file_field :file
  .list= f.submit
