!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title #35mm
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
      .container
        = link_to "#35mm", root_url, class: "navbar-brand"
        %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", type: "button"}
          %span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if current_user
              %li
                = link_to "Add Photo", new_photo_path
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Login", new_user_session_path
            %li
              = link_to "Register", new_user_registration_path
    .container
      .row
        .col-lg-12.text-center
          %br/
          = yield
